<div class='card'>
  <div class='separator-blue-slash'></div>
  <img src="{{usuario.foto}}" alt="">
  <div class="contenido_usuario">
    <div class="name_mail">
      <h2>{{usuario.name}}</h2>
      <p class="correo">{{usuario.email}}</p>
      <div class="img_intersex"></div>
    </div>
    <p class="descripcion">{{usuario.descripcion}}</p>
    <div class="gustos" >
      <div class="gusto" *ngFor="let j of usuario.gustos">{{j}}</div>
    </div>
    <div class="div_chat">
      <a class="chat_link d-flex">
        <img class="chat_img" alt="">
        Chatear</a>
    </div>
  </div>
</div>
