<div *ngIf = "hidden" class="tp-box" [@flipState]="flip" >
  <div class="tp-box__side tp-box__front">
      <div class="img-nombre-edad" [ngStyle]="{'background-image': getUrl()}">
        <h2 class="name">{{usuario.name}}</h2>
      </div>
      <div class="div-descripcion">
        <h3 class="descripcion">{{usuario.descripcion}}</h3>
      </div>
      <div class="div-buttons">
        <div class="btn btn_like_div" id="btn_like_div" *ngIf="btnMostrador !== false" (click)="pulsaLikeDislike(false, usuario.email)" >
          <a title="dislike_link" class= "btn-inner" id="like_link"><div class="btn_imagen_inner b_dislike" alt=""></div></a>
        </div>
        <div class="btn flip_front-div" (click)="toggleFlip()">
          <a title="flip_front" id="flip_front"><div class="btn_imagen_inner b_front" alt=""></div></a>
        </div>
        <div class="btn btn_dislike_div" id="btn_dislike_div" *ngIf="btnMostrador !== false" (click)="pulsaLikeDislike(true, usuario.email)">
          <a  title="like_link" id="dislike_link"><div class="btn_imagen_inner b_like" alt=""></div></a>
        </div>
      </div>
  </div>
  <div class="tp-box__side tp-box__back">
    <div class="nombre-edad-sex">
      <div class="nombre-edad">
        <h2 class="name">{{usuario.name}}</h2>
      <h3 class="edad">Edad {{usuario.age}}</h3>
      </div>
      <div class="sex" [ngStyle]="{'background-image': getUrlSex()}"></div>    
    </div>
    <div class="correo cont-corr-tel">
      <div class="back-logo logo-correo"></div>
      <h3 class="inner_h3">{{usuario.email}}</h3>
    </div>
    <div class=gustos>
      <h4 class="gusto" *ngFor="let gusto of this.usuario.gustos">{{gusto}}</h4>
    </div>
    <div class="div-buttons">
      <div class="btn flip_back_div" (click)="toggleFlip()">
        <a title="flip_back" class="flip_back_link" id="flip_back_link"><div class="btn_imagen_inner b_back" alt=""></div></a>
      </div>
      <div class="btn btn_chat_div" id="btn_chat_div">
        <a href="" title="chat" class="chat_btn_link" class="chat_btn_link"><div class="btn_imagen_inner b_chat" alt=""></div></a>
      </div>
    </div>
  </div>
</div>
