<div class="login fondo-login">
  <div class="card-login">
    <div class="box">
      <img class="logo" src="../../../assets/imgs/dating_logo.png" alt="Logo LucaTinder">
    <h1>
      LUCATINDER
    </h1>

    <p class="text-muted">¡El lugar indicado si no te comes una rosca!</p>


    <input class="btn-tin" placeholder="Usuario" #user type="text">

    <input class="btn-tin" placeholder="Contraseña" #pass type="password">
  
    <a routerLink="/register" class="register text-muted">¿No tienes cuenta? Regístrate</a>


    <!-- <button (click)="registrar(user.value, pass.value)">Registrar</button>  -->
    <button class="btn-tin__submit" (click)="login(user.value, pass.value)">Entrar</button>

    <!-- <button (click)="auth.logout()">Salir</button> -->
  </div>
  </div>
</div>


